// BREAKPOINTS
$screen-standard: 1366px;
$screen-tablet: 1024px;
$screen-between: 768px;
$screen-phone: 480px;
$screen-smallphone: 375px;

// COLORS
$color-primary: #8c0c04;
$color-secondary: #684f40;
$color-border: #ccc;

// TRANSITIONS
$transition-speed: 250ms;
$transition-ease: ease;