* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.custom-content .center {
  text-align: center !important;
}

.custom-content {
  padding: 10px 0 0 0;
}

.custom-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom-content .pod {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 16px;
}

.custom-content .pod.full {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
}

.custom-content .pod h3 {
  margin: 0;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #231A6F;
}

.custom-content .pod ul {
  padding-left: 20px;
  text-align: left;
}

.custom-content .pod ul.reduced li {
  font-size: 12px;
  line-height: 19px;
}

.custom-content .pod-interior {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 8px;
  padding: 20px;
  height: 100%;
}

.custom-content .pod-interior.has-title {
  height: 88%;
}

.custom-content .pod-interior.spacious {
  padding: 10px 10px;
}

.custom-content .pod-interior.extraspacious {
  margin: 0;
  padding: 10px 0;
}

.custom-content .pod-interior.kill-top {
  padding-top: 0;
}

.custom-content .pod-interior.allow-actions {
  padding-bottom: 90px;
}

.custom-content .pod-interior.allow-button {
  padding-bottom: 50px;
}

.custom-content .pod-interior.locked {
  height: auto;
  min-height: 310px;
}

.custom-content .pod-interior.auto-height {
  height: auto;
}

.custom-content .pod-interior.cta {
  border-radius: 0 0 5px 5px;
  border-top: 5px solid #240f6e;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.custom-content .pod-interior.cta.translucent {
  background: rgba(255, 255, 255, 0.9);
}

.custom-content .pod-interior.cta.basic {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-content .pod-interior.cta.no-shadow {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-content .pod-interior.cta.block {
  border-radius: 0;
  border: 0;
  background: #eff2f5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-content .cta-header {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #240F6E;
}

.custom-content .uniform-header {
  min-height: 190px;
}

.custom-content .orb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  background: #eee;
  font-size: 11px;
  font-weight: 400;
  line-height: 32px;
  border-radius: 16px;
}

.custom-content .actions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.custom-content a {
  text-decoration: none;
}

.custom-content h1 {
  margin: 10px 0;
  color: #333;
  font-size: 24px;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
}

.custom-content h2 {
  margin: 10px 0;
}

.custom-content p {
  font-size: 13px;
  line-height: 20px;
  text-align: inherit !important;
  color: #333;
}

.custom-content p.intro {
  margin: 20px auto 40px;
  max-width: 800px;
  font-size: 15px;
  line-height: 21px;
  text-align: center !important;
}

.custom-content p.jumbo {
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}

.custom-content p.lurid {
  margin: 15px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.custom-content p.pretitle {
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.custom-content p.posttitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  font-size: 13px;
  line-height: 18px;
}

/* DEAULT BUTTONS */
.custom-content a.default-button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f5f5f5), to(#d5d5d5)) !important;
  background: linear-gradient(to bottom, #f5f5f5 5%, #d5d5d5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5", endColorstr="#d5d5d5",GradientType=0) !important;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 120px;
  min-width: 100px;
  color: #333;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-content a.default-button.transparent {
  padding: 0 5px;
  background: transparent !important;
  -webkit-filter: none;
          filter: none;
  border-radius: 0;
  border: 0;
  color: #240f6e;
}

.custom-content a.default-button.special {
  background: #5f43c3 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#5f43c3), to(#240f6e)) !important;
  background: linear-gradient(to bottom, #5f43c3 0%, #240f6e 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#5f43c3", endColorstr="#240f6e",GradientType=0 ) !important;
  border: 1px solid #333;
  width: auto !important;
  min-width: 100%;
  line-height: 40px;
  color: #fff;
  font-size: 19px;
}

.custom-content a.default-button.special:hover {
  border: 1px solid #000;
  opacity: 0.85;
}

.custom-content a.default-button.special.low-profile {
  font-size: 15px;
  line-height: 30px;
}

.custom-content a.default-button.full {
  width: 100%;
}

.custom-content a.default-button.center {
  display: block;
  margin: auto;
  max-width: 200px;
}

.custom-content a.default-button.breathe {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-content a.default-button:hover {
  border-color: #999;
}

.custom-content a.default-button.small {
  padding: 0 12px;
  min-width: 70px;
  line-height: 22px;
  font-size: 11px;
}

.custom-content a.default-button[disabled] {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 720px) {
  .custom-content {
    padding: 10px 10px 0;
  }
  .custom-content .pod {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .custom-content .pod-interior {
    margin: 0;
    min-height: 1px;
  }
  .custom-content .pod-interior.locked {
    min-height: 0;
  }
  .custom-content .pod-interior.has-title {
    height: auto;
  }
  .custom-content h2, .custom-content p {
    text-align: center;
  }
  .custom-content p.jumbo {
    margin: 0 0 20px;
  }
}
/*# sourceMappingURL=prototype.css.map */